body {
    font-family: Arial, sans-serif;
    background-color: #99bce2;
}

.container {
    max-width: 600px;
    margin: 100px 450px;
    padding: 20px;
    background-color: #e0d1d1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

img {
    /* max-width: 200px; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #fff;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
    font-size: 25px;
}
